@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    var cities = Model.ToList();
}

@if (!cities.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for exploring cities!</h1>
        <p class="lead">
            There are no cities in the system currently available.
            Why don't you add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated?? false)
            {
                <a asp-controller="City" asp-action="AddCity" class="btn btn-primary btn-lg" role="button">Add City</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div class="container-fluid bg-lightblue-transparent text-white py-5">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-6">
			<div class="card darkblue text-white border-4">
				<div class="card-header bg-secondary text-white">
					<h3 class="mb-0">Select a City</h3>
				</div>
				<div class="card-body">
					<form asp-controller="City" asp-action="SelectCity" method="get">
						<div class="form-group">
							<label for="cities" class="text-black">Select a city:</label>
							<select class="form-control bg-lightblue text-black" id="cities" name="cityId">
								@foreach (var city in cities)
								{
									<option value="@city.Id">@city.Name</option>
								}
							</select>
						</div>

						<button class="btn card-header bg-secondary text-white border">GO!</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




@section Scripts{
	<partial name="_ValidationScriptsPartial.cshtml" />
}