@model CityFormModel

<div class="container-fluid bg-lightblue-transparent text-white py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card darkblue text-white border-4">
                <div class="card-header bg-secondary text-white">
                    <h3 class="mb-0">Add a City</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="City" asp-action="AddCity" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="Name" class="text-black">City Name:</label>
                            <input type="text" class="form-control bg-lightblue text-black" id="Name" name="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="Country" class="text-black">Country:</label>
                            <input type="text" class="form-control bg-lightblue text-black" id="Country" name="Country" required>
                        </div>
                        <div class="form-group">
                            <label for="ImageFile" class="text-black">Upload Image:</label>
                            <div class="input-group">
                                <input type="file" class="form-control-file bg-lightblue text-black" id="ImageFile" name="ImageFile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="text-black">Description:</label>
                            <textarea class="form-control bg-lightblue text-black" id="Description" name="Description" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="NightlifeScore" class="text-black">Night Life Score (1-5):</label>
                            <input type="number" class="form-control bg-lightblue text-black" id="NightlifeScore" name="NightlifeScore" min="1" max="5" required>
                        </div>
                        <div class="form-group">
                            <label for="TransportScore" class="text-black">Transportation Score (1-5):</label>
                            <input type="number" class="form-control bg-lightblue text-black" id="TransportScore" name="TransportScore" min="1" max="5" required>
                        </div>

                        <button class="btn card-header bg-secondary text-white border">Add City</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                            
