@{
    ViewData["Title"] = "Home Page";
}
<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> Cities, Restaurants and Bars.
        <br />In order to delete a City, Restaurant or Bar, you have to drill down to the relevant entity by using the "All" buttons below.
    </p>
    <p class="lead mt-1">
        You can also see <b>all users and employees</b> in the
        system.
    </p>
    <hr class="my-4">

    <div class="row justify-content-center mb-4">
        <div class="col-md-4">
            <h4>Cities:</h4>
            <a asp-area="" asp-controller="City" asp-action="AllCities" class="btn btn-secondary btn-block">All Cities</a>
            <a asp-area="" asp-controller="City" asp-action="AddCity" class="btn btn-secondary btn-block">Add City</a>
        </div>
        <div class="col-md-4">
            <h4>Restaurants:</h4>
            <a asp-area="" asp-controller="Restaurant" asp-action="AllRestaurants" class="btn btn-secondary btn-block">All Restaurants</a>
            <a asp-area="" asp-controller="Restaurant" asp-action="AddRestaurant" class="btn btn-secondary btn-block">Add Restaurant</a>
        </div>
        <div class="col-md-4">
            <h4>Bars:</h4>
            <a asp-area="" asp-controller="Bar" asp-action="AllBars" class="btn btn-secondary btn-block">All Bars</a>
            <a asp-area="" asp-controller="Bar" asp-action="AddBar" class="btn btn-secondary btn-block">Add Bar</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <h4>Users:</h4>
            <a asp-area="" asp-controller="User" asp-action="All" class="btn btn-secondary btn-block">All Users</a>
        </div>
    </div>
</div>

<style>
    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: #fff;
        }
</style>
